.showcase {
  padding: 60px 10%;
  background: #081b29;
}

.showcase-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.showcase-nav button {
  background: none;
  border: none;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 4px;
  position: relative;
  transition: color 0.3s ease;
  /* border-bottom: 2px solid transparent; */
}

.showcase-nav button:hover {
  color: #00abf0;
}

.showcase-nav button.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  border-color: #00abf0;
}

.showcase-content {
  min-height: 300px;
}

.participation-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 12px;
  margin: 15px 0;
}

.participation-gallery img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .showcase-nav {
    gap: 22px;
    flex-wrap: wrap;
  }

  .showcase-nav button {
    font-size: 14px;
  }
}