@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #081b29;
  color: #ededed;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal-left {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 0.7s ease;
}

.reveal-left.active {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 768px) {

  .decorative-circle,
  .about::before,
  .about::after {
    display: none !important;
  }
}